
 <%= link_to "ChatRoom" ,root_path , :class => 'item'%>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
    <% if user_signed_in?%>
   <a>Logged in as:</a> <strong class= "dropdown icon" ><%= current_user.email %></strong>
    <%else%>
      Account <i class="dropdown icon"></i>
      <%end%>
      <div class="menu">
        
        <% if user_signed_in?%>
        <%= link_to "Edit your account" ,edit_user_registration_path , :class => 'item'%>
        <%else%>
        <%= link_to "Log in", new_user_session_path, :class => 'item'  %> 
        <%= link_to "Sign up", new_user_registration_path, :class => 'item'  %> 
        <%end%>
        
      </div>
    </div>
    <div class="item">
    <% if user_signed_in?%>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => 'negative ui primary button'  %>
    <%else%>
        <%= link_to "Sign up", new_user_registration_path, :class => 'ui primary button'  %> 
        <%end%>
    </div>
    </div>